<html>

<head>

    <title>APP de Produto</title>
    <meta http-equiv="Content-Language" content="pt-br">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body> 
    
    <div class="nav-bar"></div>

    <div id="app">

        <div class="product-image">
            <img v-bind:src="image" v-bind:alt="altText" class="image">
        </div>

        <div class="product-info">

            <h1 class="product">{{title}}</h1>

            <p v-if="inventory > 10">Em estoque</p>
            <p v-else-if="inventory<=10 && inventory>0">Quase fora de estoque!</p>
            <p v-else>Fora de estoque</p>

            <ul>
                <li v-for="detail in details">{{detail}}</li>
            </ul>

            <div v-for="(variant, index) in variants" 
                :key="variant.variantID"
                class="color-box"
                :style="{backgroundColor: variant.variantColor}"
                @mouseover="updateProduct(index)">           
            </div>

            <button @click="addToCart" 
            :disabled="!inventory"
            class="{disabledButton:!inventory">Adicione ao carrinho</button>

            <div class="cart">
                <p>Cart({{cart}})</p>
            </div>

        </div>        

    </div>

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>

</html>